@tailwind base;
@tailwind components;
@tailwind utilities;

/*Variables*/
:root{
    --lred:hsl(0, 100%, 67%);
    --oyellow: hsl(39, 100%, 56%);
    --gteal: hsl(166, 100%, 37%);
    --cblue: hsl(234, 85%, 45%);
    --white: hsl(0, 0%, 100%);
    --pblue: hsl(221, 100%, 96%);
    --lavander: hsl(241, 100%, 89%);
    --gblue: hsl(224, 30%, 27%);
    --black: hsl(0, 0%, 0%);
}

/*
## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800

*/
